<% provide(:title, 'Help') %>
<h1>StaticPages#help</h1>
<p>
Help me!
<br>
For the love of God, help me!
<br>
Oh God I though this was the help page why aren't you helping
<br>
<br>
Aaaaaneurnwjb3747b3bf!$1hb..
</p>
